<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
</head>
<body>
  <h1>This is the home page

  </h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex quo fuga est similique consequuntur aperiam dolorem dolorum doloribus enim asperiores, autem exercitationem animi consectetur, praesentium, magnam quisquam iste architecto recusandae.</p>
  <button>click me!</button>
</body>
</html>